/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  /* --font-style: 'Epilogue', sans-serif; */
  --font-style: 'Montserrat', sans-serif;

  --animation: all 0.1s linear 0s;

  /* color palette */
  --white: #ffffff;
  --dark: #2B2B2B;
  --dark-alpha: rgba(43, 43, 43, 0.9);
  --blue: #004D9F;
  --gray: #D8D8D8;

  /* colors variables */
  /* header */
  --header-bg-color: var(--dark);
  --header-menu-bg-color: var(--dark-alpha);
  --header-font-color: var(--white);
  --header-elem-active: var(--blue);

  /* loading screen
  --spiner-color: var(--blue);
  --loading-text-color: var(--blue);
  --loading-bg-color: var(--dark); */

  /* other */
  --elem-active: var(--blue);
  --line-color: var(--gray);

  /* btns */
  --btn-bg-color: var(--blue);
  --btn-font-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

.scroll-locked {
  overflow: hidden;
}

.wrap {
  width: 100%;
  min-height: 100vh;

  font-family: var(--font-style);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}