.info {
  display: grid;
  grid-template: repeat(2, 26px) / 68px 1fr;

  margin-bottom: 6.2%;

  width: fit-content;
}

.posts-cards__info {
  grid-template: repeat(2, 26px) / 1fr;

  margin-bottom: 3.405%;
}

.main__posts-pages.posts-pages-header .posts-cards__post-card:first-child .posts-cards__info {
  margin-bottom: 2%;
}

@media (min-width: 1441px) {
  .info {
    margin-bottom: 62px;
  }

  .posts-cards__info {
    margin-bottom: 16px;
  }

  .main__posts-pages.posts-pages-header .posts-cards__post-card:first-child .posts-cards__info {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {

  .posts-cards__info,
  .main__posts-pages.posts-pages-header .posts-cards__post-card:first-child .posts-cards__info {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) and (min-width: 661px) {

  .info {
    font-size: 14px;
  }
}

@media (max-width: 660px) and (min-width: 541px) {

  .info {
    font-size: 12px;
  }
}

@media (max-width: 540px) {

  .info {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .post-page__post-img-box {
    margin-bottom: 40px;
  }
}